* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #c62828;
    margin-bottom: 15px;
}

.lbCadastro form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-group div {
    width: 48%;
}

label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    background-color: rgb(242, 238, 238); 
    appearance: none;
    cursor: pointer;
}

select option {
    background-color: white;
}

select option:checked {
    background-color: #1976d2;
    color: white;
}

input:focus, select:focus {
    border-color: #1976d2;
    outline: none;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#btnCadastrar {
    background-color: #1f9475;
    color: white;
    transition: 0.3s;
}

#btnCadastrar:hover {
    background-color: #28a28a;
}

#btnCancelar {
    background-color: #e01f1f;
    color: white;
    transition: 0.3s;
}

#btnCancelar:hover {
    background-color: #d72d44;
}

.btnCadastrar, .btnCancelar {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}
