* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f7fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #c62828;
    margin-bottom: 20px;
}

.btnIndex {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    background-color: #1f9475;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

button a {
    text-decoration: none;
    color: white;
    display: block;
}

button:hover {
    background-color: #28a28a;
}

.btnSair {
    background-color: rgb(240, 165, 26) important!; 
}