<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Coleta e Doação de Sangue</title>
    <script src="../static/js/login.js" defer></script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

<div class="container">
        <h2>Bem-vindo a Sistema de Doação de Sangue</h2>
            <h3>Entrar como Usuário</h3>
        <form method="POST">
            <div class="lbLogin">
                <div>
                    <label for="nome">E-mail:</label>
                    <input type="email" id="email" name="email" required/>
                </div>
                <br>
                <div>
                    <label for="nome">Senha:</label>
                    <input type="password" id="senha" name="senha" required/>
                </div>             
        </div>

        <button id="btnLogin" type="button">
            <a href="/index" class="btnLogin">Login</a> 
        </button>

        <button id="btnCadastrar" type="button">
            <a href="/cadastrar" class="btnCadastrar">Cadastrar</a> 
        </button>

        <p id="recuperarSenha">
            <a href="/recuperarSenha" class="btnCadastrar">Esqueceu sua senha? Clique aqui.</a>
        </p>
    </form>
</div>

</body>
</html>
